$font-size: 16pt;
$background-color: rgb(51, 128, 239);

body {
    font-size: 16pt;
    font-family: Avenir,Helvetica,Arial,sans-serif;
    margin: 0;
}

.header {
    background-color: $background-color;
    color: white;
    padding: 1em 2em 1em 2em;
    border-bottom: 2px solid black;

    h1 {
	margin: 0;
    }
}

.main {
    padding: 1em;
    
    .message {
	background-color: #EEE;
	padding: 1em 2em 1em 2em;
    }

    .message-hex {
	font-size: 90%;
	background-color: #EEE;
	word-wrap: break-word;
	padding: 1em 2em 1em 2em;
	font-family: courier;
    }
}

div.errors {
    padding: 1em;

    li {
	background-color: yellow;
    }
}

button:hover {
    background-color: lightblue;
}

.show-hex-container {
    display: flex;
    justify-content: flex-end;
}

div.controls {
    margin-top: 1em;
}

button.sign {
    font-size: $font-size;
    margin-top: 5px;
}

select.network {
    font-size: $font-size;
    width: 7em;
}

div.footer {
    background-color: $background-color;
    color: #DDD;
    padding: 1em 2em 1em 2em;
    margin-top: 1em;
    border-top: 2px solid black;

    a {
	color: #DDD;
    }

    div.dev-button {
	display: flex;
	justify-content: flex-end;
	width: 100%;

	button {
	    color: #DDD;
	    background-color: $background-color;

	    &:hover {
		color: black;
		background-color: lightblue;
	    }
	}
    }
}

div.debug {
    padding: 1em;
    color: #AAA;
    border-top: 2px solid black;
    word-wrap: break-word;
}
